<ion-content>
  <ion-card *ngIf="person">
    <ion-card-header>
      <ion-card-subtitle>Person details</ion-card-subtitle>
      <ion-card-title>{{ person.name }}'s details</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <strong>Name:</strong> {{ person.name }}<br/> 
      <strong>Phone:</strong> {{ person.phone }}<br/> 
      <strong>Email:</strong> {{ person.email }}<br/> 

      <ion-button [routerLink]="['/people']">Back</ion-button>
      <ion-button [routerLink]="['/update-person', person.id]">Edit</ion-button>
      <ion-button (click)="delete(person)">Delete</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- <ion-button [routerLink]="['/people']">Back</ion-button>
  <ion-button>Edit</ion-button>
  <ion-button>Delete</ion-button> -->
</ion-content>