<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Update Person
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form *ngIf="personUpdateForm" [formGroup]="personUpdateForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label>Name:</ion-label>
        <ion-input formControlName="name" autofocus="true" required="true"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Phone:</ion-label>
        <ion-input type="tel" formControlName="phone" required="true"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input type="email" formControlName="email" required="true"></ion-input>
      </ion-item>
  
      <ion-button type="submit" expand="block" color="primary" [disabled]="!personUpdateForm.valid">Save</ion-button>
      <ion-button expand="block" fill="outline" [routerLink]="['/people']">Cancel</ion-button>
    </form>
  </ion-content>