<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      People List
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/add-person']">
        <ion-icon name="person-add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
      <ion-item-sliding *ngFor="let person of people">
        <ion-item>
          <div class="item-note">
            {{person.name}}
          </div>
        </ion-item>

        <ion-item-options>
            <ion-item-option [routerLink]="['/person-details', person.id]" color="primary">
              <ion-icon slot="start" name="person"></ion-icon>
            </ion-item-option>
            <ion-item-option [routerLink]="['/update-person', person.id]" color="secondary">
              <ion-icon slot="start" name="create"></ion-icon>
              </ion-item-option>
            <ion-item-option (click)="delete(person)" color="danger">
              <ion-icon slot="start" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
      </ion-item-sliding>
  </ion-list>
</ion-content>
