<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      People List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item-sliding *ngFor="let person of people">
        <ion-item>
          <div class="item-note" slot="end">
            {{person.Name}}
          </div>
        </ion-item>

        <ion-item-options>
            <ion-item-option (click)="details(person.Id)" color="primary">
              <ion-icon slot="start" name="person"></ion-icon>
            </ion-item-option>
            <ion-item-option (click)="update(person.Id)" color="secondary">
              <ion-icon slot="start" name="create"></ion-icon>
              </ion-item-option>
            <ion-item-option  (click)="delete(person.Id)" color="danger">
              <ion-icon slot="start" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
      </ion-item-sliding>
  </ion-list>
</ion-content>
